@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
html {
  font-size: 62.5%;
}

body {
  background-color: #fff;
  color: #333;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}

h1 {
  font-size: 3.6rem;
  line-height: 1.1;
}

h2 {
  font-size: 2.8rem;
  line-height: 1.2;
}

h3 {
  font-size: 2rem;
  line-height: 1.4;
}

a {
  color: #e61400;
  font-weight: 700;
  text-decoration: none;
}
a:hover, a:focus, a:active {
  text-decoration: underline;
}

strong {
  font-weight: 700;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 2.4rem;
  box-sizing: border-box;
}

.navigation {
  margin-bottom: 3.2rem;
}
@media (min-width: 768px) {
  .navigation {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
}
.navigation__item {
  display: block;
  height: 4.8rem;
  background-color: #e61400;
  color: #fff;
  font-weight: 400;
  line-height: 4.8rem;
  text-align: center;
}
@media (min-width: 768px) {
  .navigation__item {
    width: 33.333%;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.15);
  }
}
@media (max-width: 767px) {
  .navigation__item {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}

.profile {
  padding: 12.8rem 0;
  background: url("/assets/images/bg-profile.png") #fff no-repeat 50% 100%;
  background-size: cover;
}
.profile__title {
  margin-bottom: 2.4rem;
}
.profile__school {
  display: inline-block;
}
.profile__school:first-letter {
  color: #e61400;
}
.profile__details:not(:last-child) {
  margin-bottom: .8rem;
}
.profile__details > dt, .profile__details dd {
  display: inline-block;
  vertical-align: top;
}
.profile__details > dt {
  font-weight: 700;
}

.article {
  padding: 3.2rem 0;
}
.article__title {
  position: relative;
  margin-bottom: 3.2rem;
}

.section {
  margin-bottom: 3.2rem;
}
.section__title {
  margin-bottom: 2.4rem;
}
.section__details:not(:last-child) {
  margin-bottom: .8rem;
}
.section__details > dt, .section__details dd {
  display: inline-block;
  vertical-align: top;
}
.section__details > dt {
  font-weight: 700;
}
.section__image {
  display: block;
  margin-bottom: 1.6rem;
}
@media (min-width: 768px) {
  .section__image {
    width: 50%;
    float: right;
    margin-left: 1.6rem;
  }
}
.section__image > img {
  width: 100%;
  vertical-align: top;
}
.section__content p:not(:last-child) {
  margin-bottom: 1.6rem;
}
